:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* Colors */
  --primaryColor: #02F0A1;
  --primaryColor_Highlight: #73FACD;
  --secondaryColor: #F00251;
  --backgroundColor: #1E2526;
  --backgroundColor_Dark: #030b0b;
  --textColor: #F7FFFD;
  --textColor_Dark: #272727;

  /* Text sizes */
  --txt_SM: none;
  --txt_MD: none;
  --txt_LG: none;

  /* Padding */
  --pd_SM: none;
  --pd_MD: none;
  --pd_LG: none;

  /* Shadows */
  --shd_SM: none;
  --shd_MD: var(--backgroundColor_Dark) 0px 24px 50px 0px;
  --shd_LG: var(--backgroundColor_Dark) 0px 48px 100px 0px;

  --glow_SM: var(--primaryColor) 0px 0px 10px 0px;

  /* Transition */
  --trs_SHORT: all 100ms ease-in-out;
  --trs_MED: all 175ms ease-in-out;
  --trs_LONG: all 300ms ease-in-out;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor)
}

p, h2, h1, h3 {
  color: var(--textColor);
}

textarea
{
  resize: none;
  height: 100px;
}

/* HIGHLIGHT  PRIMARY COLOR, COLOR ONLY*/
.txt-highlight-p-co {
  color: var(--primaryColor);
}
/* HIGHLIGHT SECONDARY COLOR, COLOR ONLY*/
.txt-highlight-s-co {
  color: var(--secondaryColor);
}
/* HIGHLIGHT PRIMARY COLOR, COLOR W/ UNDERLINE */
.txt-highlight-p-cul {
  color: var(--primaryColor);
  text-decoration: underline;
}

/* Underline grows from center to edge of text */
.txt-underline-effect{
  position: relative;
}


button
{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0.75rem 2rem;
}

.primary-btn
{
  background-color: var(--backgroundColor_Dark);
  color: var(--primaryColor);
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 1;
} 
.primary-btn::before
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--primaryColor);
  transform: scaleX(0);

  transition: transform 175ms ease;
}
.primary-btn:hover::before
{
  transform: scaleX(100%);
}
.primary-btn:hover
{
  color: var(--backgroundColor_Dark);
  box-shadow: var(--glow_SM);
}

.secondary-btn
{
  background-color: var(--primaryColor);
  color: var(--backgroundColor_Dark);
  transition: all 0.2s ease-in-out;
}

.secondary-btn:hover
{
  color: var(--primaryColor);
  background-color: var(--backgroundColor_Dark);
}


.customization-bar {
  position: fixed;
  top: 2rem;
  width: 60%;
  left: 20%;
  padding: 1.5rem calc(2.8rem - 4px);
  background-color: rgba(0, 0, 0, .6);
  backdrop-filter: blur(25px);
  border: 2px solid;
  border-color: var(--primaryColor);
  border-radius: 34px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;

  transition: 
    transform 300ms ease,
    opacity 200ms ease,
    background-color 200ms ease;
}
.customization-bar.is-closed {
  transform: translateY(-1.5rem);
  opacity: 0;
  pointer-events: none;
}

.customization-bar:hover {
  background-color: rgba(0, 0, 0, .8);
}

.customization-bar h2 {
  font-size: 34px;
  font-weight: 600;
}

.custom-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.custom-options select { 
  padding: .5rem 1.5rem;
  background-color: var(--backgroundColor_Dark);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  border-radius: 12px;
}

.open-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.75rem 1.5rem;
  z-index: 1000;

  transition: all 200ms ease;
}
.open-button:hover {
  color: var(--textColor);
  border-color: var(--textColor);
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;

  transition: all 200ms ease;
}

.close-button:hover {
  color: var(--textColor);
  border-color: var(--textColor);
}