/* About Section */

section
{
    width: 100%;
}

.about-card {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto
}

.about-card-content
{
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    width: 65%;
}

.about-card-content h2{
    font-size: 32px;
}
.about-card-content h3{
    font-size: 24px;
}

.img-coin
{
    border-radius: 100%;
    border: 2px solid var(--primaryColor);
}



/* Projects Section */
#projects
{
    display: flex;
    flex-direction: column;
    gap: 2rem 0;
    margin: 0 auto;
}

.project-card
{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
}
.project-card-left
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.project-card h3{
    font-size: 28px;
    font-weight: 700;
    color: var(--primaryColor);
}

.project-card-right
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.project-card-buttons button
{
    padding: 6px 12px;
}