/* Header */
.simple-mode header {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.simple-mode header h1 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.simple-mode header h1:hover {
    animation: none;
}

@keyframes header-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
